h1{
	color: rgb(2,132,130);
	text-align: center;
}

h2{
	color: #ffd700;
	text-align: center;
}

nav{
	background-color: #808080;
	padding: 0.5px;
}

nav a{
	text-decoration: none;
	background-color: #ffbf00;
	padding: 35px;
	color: white;
	display: block;
	float: left;
}

a:hover{
	background-color: #ee5f3c;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

p{
	text-align: center;
}

.board{
	height: 50%;
	width: 50%;
}

.card{
	height: 200px;
	width: 150px;
	background-color: #ffff00;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

img {
	height: 200px;
	width: 150px;
}

footer{
	text-align: center;
	padding: 1em 0;
	clear: both;
	background-color: #808080;
}

.name{
	color: #ff0000;
}